

{{#meta}}
	{{#if title}}
		<h1>{{title}}</h1>
	{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
{{/meta}}

{{#items}}
	<div>
		<a href="{{link}}"><h2>{{title}}</h2></a>
		{{#if author}}{{author}} - {{/if}}{{humanDate}}
		{{#media:content}}
			<div class="audio-player">
				<h3><a href="{{url}}" target="_blank" rel="noopener" rel="nofollow">{{../title}}</a></h3>
				<audio src="{{url}}" controls preload="none" crossorigin="anonymous"></audio>
				<p>(<span class="filesize">{{filesize}}Bytes</span> {{type}})</p>
			</div>
		{{/media:content}}
		<p>{{{description}}}</p>
	</div>
{{/items}}
