
{{#meta}}
	{{#if description}}
		<h2>{{description}}</h2>
	{{/if}}
{{/meta}}

{{#items}}
<a href="{{link}}">
	<div>
		<h4>{{title}}</h4>
		{{#author}}{{author}} - {{/author}}{{humanDate}}
		<p>{{{description}}}</p>
	</div>
</a>{{/items}}
