{{#meta}}
	<h1 class="feed-title feed-detail" data-name="{{ title }}" data-url="{{#encodeURIComponent}}{{{ ../url }}}{{/encodeURIComponent}}">{{title}}</h1>
	<div id="title_useful-buttons" data-url="{{#encodeURIComponent}}{{{ ../url }}}{{/encodeURIComponent}}" data-name="{{ title }}">
		<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Check out {{title}} on Podle" data-via="sbrowserdevrel" data-related="lady_ada_king" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	{{#if description}}
		<p class="description">{{description}}</p>
	{{/if}}
	{{#if copyright}}
		<p class="copyright">&copy; {{ copyright }}</p>
	{{/if}}
{{/meta}}

<div class="items">
{{#items}}
	<div class="feed-item">
		<div class="feed-item__meta feed-item-detail" data-feed="{{#encodeURIComponent}}{{{ ../url }}}{{/encodeURIComponent}}" data-title="{{title}}" data-feed-item-id="{{#encodeURIComponent}}{{{ ../url }}}{{/encodeURIComponent}}__{{#mangle}}{{title}}{{/mangle}}"{{#media:content}} data-media-url="{{url}}"{{/media:content}}>
			<h2 class="feed-item__meta-title"><a href="#{{#mangle}}{{title}}{{/mangle}}" id="{{#mangle}}{{title}}{{/mangle}}">{{title}}</a></h2>
			<time>Updated - {{humanDate}}</time>
			<p class="feed-item__meta-byline"><a href="{{link}}">by {{#if author}}<span class="author">{{author}}</span>{{/if}}</a></p>
		</div>
		{{#media:content}}
			<div class="feed-item__audio-player">
				<span><a href="{{url}}" target="_blank" rel="noopener" rel="nofollow" title="Direct Download: {{../title}}">Download</a>
					(<span class="filesize">{{#bytesToMegabytes}}{{filesize}}{{/bytesToMegabytes}}</span> {{type}})</span>
				<audio src="/audioproxy?url={{#encodeURIComponent}}{{url}}{{/encodeURIComponent}}" controls preload="none">
					<span><a href="{{url}}" target="_blank" rel="noopener" rel="nofollow">{{../title}}</a>
					  (<span class="filesize">{{#bytesToMegabytes}}{{filesize}}{{/bytesToMegabytes}}></span> {{type}})</span>
				</audio>
			</div>
		{{/media:content}}
		<p>{{{description}}}</p>
	</div>
{{/items}}
</div>
