{{> header }}

{{#meta}}
	{{#if title}}
		<h1 class="feed-title">{{title}}</h1>
	{{/if}}
	{{#if description}}
		<p class="description">{{description}}</p>
	{{/if}}
{{/meta}}

{{#items}}
	<div class="podcast-item">
		<h2><a href="{{link}}">{{title}}</a></h2>
		<p>{{#if author}}{{author}} - {{/if}}{{humanDate}}</p>
		{{#media:content}}
			<div class="audio-player">
				<h3><a href="{{url}}" target="_blank" rel="noopener" rel="nofollow">{{../title}}</a></h3>
				<audio src="/audioproxy?url={{url}}" controls preload="none"></audio>
				<p>(<span class="filesize">{{filesize}}Bytes</span> {{type}})</p>
			</div>
		{{/media:content}}
		<p>{{{description}}}</p>
	</div>
{{/items}}
