{{> header }}

<h2>Debug Search</h2>
<pre>{{#each head}}{{@key}}: {{this}}
{{/each}}</pre>
<hr/>
<h3>Search results</h3>
{{#each body}}<div>
	{{@index}}<pre>
{{#each this}}{{@key}}: {{this}}
{{/each}}</pre>
</div>{{/each}}
